
.textBox {
    border-radius: 15px;
    box-shadow: 0 8px 24px hsl(210deg 8% 62% / 20%);
    box-sizing: border-box;
    height: auto;
    max-width: 640px;
    width: 90%;
    min-width: 600px;
    margin-top: 20px;
    padding-bottom: 60px;
  }
  
  .textBox hr {
    color: gray;
  }
  
  .textBoxHeader {
    box-shadow: 0 8px 8px -2px #eff89b;
    font-weight: 500;
    height: 30px;
    padding: 20px 20px;
  }
  
  .textBoxHeader {
    font-size: 18px;
  }
  
  .textBoxBody {
    padding: 20px;
  }
  
  .textBoxBody textarea {
    width: 100%;
    height: 250px;
    border: none;
    outline: none;
    font-size: 18px;
  
  }
  
  .textBoxesWrapper {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width:580px) {
    .textBox {
      width: 90vw;
      min-width: unset;
    }
  }